<?xml version="1.0" encoding="UTF-8"?>
<job retention_tag="60days" group="cki">
  <whiteboard>{
   "name": "UPT Smoke Test, Recipes: {{ smoke_test }}, Arch: {{ arch }}",
   "jod_id": "GITLAB_JOB_ID_PLACEHOLDER"
   }</whiteboard>
   {# Check and generate required recipesets #}
   {% if 'abort_recipe' in smoke_test %}
        {% include 'recipeset_abort_recipe.j2' %}
   {% endif %}
   {% if 'abort_task' in smoke_test %}
        {% include 'recipeset_abort_task.j2' %}
   {% endif %}
   {% if 'fail' in smoke_test %}
        {% include 'recipeset_fail.j2' %}
   {% endif %}
   {% if 'kernel_panic' in smoke_test %}
        {% include 'recipeset_kernel_panic.j2' %}
   {% endif %}
   {% if 'skip' in smoke_test %}
        {% include 'recipeset_skip.j2' %}
   {% endif %}
   {% if 'pass' in smoke_test %}
        {% include 'recipeset_pass.j2' %}
   {% endif %}
   {% if 'warn' in smoke_test %}
        {% include 'recipeset_warn.j2' %}
   {% endif %}
</job>
